*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

@font-face {
    font-family: font-woff;
    src: url('https://azurecomcdn.azureedge.net/cvt-aa06087a39fae1017fc357f80fdb205b83d06b703469a18441ce51fc0265fe37/fonts/bapimdl2/normal/latest.woff2');
}
@font-face {
    font-family: font-roman;
    src: url('https://azurecomcdn.azureedge.net/cvt-63c12051016796d92bcf4bc20b4881057475e6dfa4937c29c9e16054814ab47d/fonts/segoe-ui/variable/SegoeUI-Roman-VF_web.woff2');
}

body{
    font-family: font-woff, font-roman;
    color: #4c4c51;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px 16px ;
}
.header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu a{
    margin-left: 5px;
}
.header .menu button{
    border: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    transform: translate(-1px, 2px);
}
.header .menu a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(26, 26, 31);
    font-family: font-roman;
    font-weight: 600;
    line-height: 44px;
    padding-left: 10px;
}
.header .logo{
    height: 32px;
    width: 32px;
    transform: translateX(-3px);
}
.mobile-nav button {
    height: 20px;
    width: 20px;
    border: none;
    transform: translate(-27px, 3px);
}
.mobile-nav button img{
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}
.mobile-nav a{
    text-decoration: none;
    font-size: 14px;
    font-family: font-roman;
    color: rgb(26, 26, 31);
    padding-right: 7px;
    display: inline-block;
    transform: translateY(-4px);
}
.header-tab-768{
    display: none;
}
.header-web{
    display: none;
}
.input-search, .nav-menu{
    display: none;
}
.innovate-bg{
    background-image: url('/Assets/december-hero-mobile.png');
    background-position: center;
    background-size: cover;
}
.innovate{
    padding: 60px 15px;
    text-align: center;
}
.innovate h1{
    font-size: 54px;
    color: #1a1a1f;
    line-height: 1.1;
    font-family: font-roman;
    letter-spacing: 0.04ch;
}
.innovate p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.3;
}
.innovate-buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innovate-buttons button{
    margin-top: 12px;
    width: 85%;
    font-size: 14px;
    font-weight: 600;
    font-family: font-roman;
    letter-spacing: 0.04ch;
    border-radius: 4px;
}
.innovate-buttons .blue{
    background-color: #0078d4;
    border: 1px solid #0078d4;
    color: white;
    padding: 10px 16px;
}
.innovate-buttons .free{
    border: 1px solid black;
    padding: 10px 16px;
}
.multicloud{
    padding: 60px 0;
    max-width: 1310px;
    margin-inline: auto;
}
.multicloud-header{
    color: #1a1a1f;
    font-family: font-roman;
    width: 100%;
    padding-inline: 15px;
}
.multicloud-header h2{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04ch;
    text-align: center;
    width: 100%;
}
.multicloud-cards{
    margin-top: 10%;
    display: grid;
    column-gap: 30px;
    row-gap: 24px;
}
.multicloud-cards .flex-card{
    display: flex;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
    position: relative;
    border-radius: 6px;
}
.flex-card-img{
    width: 68px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.flex-card-img img{
    height: auto;
    width: 100%;
    object-fit: contain;
}
.upgrade-img img, .devbox-img img{
    height: 100%;
}
.flex-card p{
    padding: 24px 24px 24px 80px;
    line-height: 1.3;
}
.flex-card p a{
    text-decoration: none;
    font-size: 20px;
    font-family: font-roman;
    font-weight: 600;
    color: #0062ad;
    line-height: 1.3;
    letter-spacing: 0.04ch;
}
.multicloud-cards-top p a{
    line-height: 1.2;
}
.multicloud-cards-desktop{
    display: none;
}
.overview{
    text-align: center;
    margin-top: 12%;
    padding: 24px 39px;
    font-family: font-roman;
    margin-inline: auto;
}
.overview .new{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1f;
    margin-bottom: 25px;
    letter-spacing: 0.04ch;
}
.overview a{
    text-decoration: none;
    padding: 11px 16px;
    border: 1px solid #0078d4;
    color: #0062ad;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.04ch;
}
.azure-products-bg{
    background-color: #f8f9fa;
}
.azure-products{
    padding-top: 60px;
    max-width: 1310px;
    margin-inline: auto;
    padding-inline: 15px;
}
.azure-products h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    font-family: font-roman;
    text-align: center;
    color: #1a1a1f;
    letter-spacing: 0.04ch;
    margin-bottom: 10%;
    width: 100%;
}
.product-cards-button{
    margin-bottom: 12px;
    padding: 12px 24px 12px 12px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
    background-color: white;
    border-radius: 4px;
    min-height: 60px;
    display: flex;
    align-items: center;
}
.product-cards-button:first-child{
    margin-top: 10%;
}
.product-cards-button button{
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: font-roman;
    font-weight: 600;
    color: #1a1a1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-cards-button button::after{
    content: '\f078';
    font: var(--fa-font-solid);
}
.up-button button::after{
    transform: rotate(-180deg);
}
.product-grid-cards{
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr 1fr;
    padding: 12px 0;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
    background-color: white;
    border-radius: 4px;
}
.product-card img{
    width: 36px;
    height: 36px;align-self: center;
}
.product-card-top p{
    font-size: 14px;
    color: #4c4c51;
    margin: 12px 0;
    line-height: 1.5;
}
.product-card-bottom a{
    text-decoration: none;
    color: #0062ad;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
}
.see-products{
    margin-top: 16%;
    text-align: center;
    width: 100%;
}
.see-products a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}
.see-products a::after{
    content: url('./Assets/right-arrow.svg');
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: 1px;
    margin-left: 5px;
}
.mobile-screenshot{
    margin-top: 10%;
    margin-inline: 24px;
    padding-bottom: 60px;
}
.mobile-screenshot img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: black;
    padding: 3%;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.14);
}
.azure-products-tab{
    display: none;
}
.web-screenshot{
    display: none;
}
.flex-card-right{
    display: none;
}
.find{
    padding: 60px 0;
}
.find h2{
    font-size: 20px;
    padding-inline: 15px;
    text-align: center;
    color: #1a1a1f;
    line-height: 1.3;
    letter-spacing: 0.04ch;
}
.find-logo{
    margin-top: 10%;
    text-align: center;
}
.logo-image{
    height: fit-content;
}
.logo-image img{
    height: auto;
    width: 100%;
}
.logo-text{
    padding: 24px;
    background-color: #f8f9fa;
}
.logo-text p{
    font-size: 20px;
    line-height: 1.3;
    color: #1a1a1f;
    margin-bottom: 15%;
}
.logo-text a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #0062ad;
    position: relative;
}
.logo-text a::after{
    content: url(./Assets/right-arrow.svg);
    position: absolute;
    height: 12px;
    width: 12px;
    top: 3px;
    margin-left: 2px;
}
.caroussel{
    text-align: center;
}
.caroussel button{
    margin-right: 33px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #1a1a1f;
    border: 1px solid black;
}
.caroussel button:first-child{
    border: 1px solid #0078d4;
    background-color: #0078d4;
    height: 8px;
    width: 8px;
}
.logo-image-text-width{
    display: none;
}
.nhs-desktop{
    display: none;
}
.logo-list{
    display: none;
}
.accelerate-bg{
    padding: 60px 15px;
    background-color: #f8f9fa;
}
.accelerate{
    padding: 36px;
    text-align: center;
}
.accelerate img{
    height: auto;
    max-width: 100%;
}
.accelerate-text{
    margin-top: 15%;
}
.accelerate-text h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1f;
    font-family: font-roman;
    letter-spacing: 0.04ch;
}
.accelerate-btn{
    margin-top: 10%;
}
.accelerate-btn a{
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #0062ad;
    border: 1px solid #0062ad;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02ch;
}
.happening{
    padding: 84px 10px;
    max-width: 1310px;
    margin-inline: auto;
}
.happening h2{
    font-size: 20px;
    font-weight: 600;
    font-family: font-roman;
    line-height: 1.2;
    color: #1a1a1f;
    text-align: center;
}
.happening-grid{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(6, 75vw);
    column-gap: 30px;
    row-gap: 24px;
    overflow-x: scroll;
    padding: 12px 6px 36px;
}
.happening-grid-card{
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
    border-radius: 6px;
    overflow: hidden;
   background-color: white;
}
.happening-grid-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.happening-grid-text{
    padding: 12px;
}
.happening-grid-text .head{
    font-size: 12px;
    font-weight: 600;
    font-family: font-roman;
    margin-bottom: 12px;
}
.happening-grid-text .content{
    font-size: 16px;
}
.video-img{
    position: relative;
}
.video-img .mobile-video{
    display: block;
    width: 100%;
    height: 100%;
}
.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}
.video-img::after{
    content: '\f04b';
    position: absolute;
    top: 50%;
    left: 50%;
    font: var(--fa-font-solid);
    transform: translate(-50%, -50%);
    font-size: 24px;
    margin-left: 2px;
    color: #0078d4;
}
.video-text{
    padding: 24px;
    
}
.video-text p{
    font-size: 20px;
    line-height: 1.3;
    font-family: font-roman;
    color: #242429;
}
.video-text .video-btn{
    margin-top: calc(10% + 12px);
    display: flex;
}
.video-text .video-btn button{
    border: none;
    background-color: transparent;
    padding: 11px 0;
    border: 1px solid #0062ad;
    color: #0062ad;
    font-size: 14px;
    font-weight: 600;
    font-family: font-roman;
    letter-spacing: 0.02ch;
    border-radius: 4px;
    width: 91%;
    max-width: 248px;
}
.desktop-video-position{
    display: none;
}
.desktop-video{
    display: none;
}
.building{
    padding: 60px 15px;
    display: grid;
    column-gap: 30px;
    row-gap: 24px;
}
.building-card{
    position: relative;
    padding: 24px 24px 24px 84px;
    border-radius: 6px;
    color: #f8f9fa;
    display: flex;
    flex-direction: column;
}
.building-card-text p{
    font-size: 20px;
    line-height: 1.3;
    font-family: font-roman;
    font-weight: 600;
    letter-spacing: 0.04ch;
}
.dark-blue{
    background-color: #243a5e;
}
.black{
    background-color: #242429;
}
.light-blue{
    background-color: #0062ad;
}
.building-card-img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.building-card-img img{
    width: 36px;
    height: 36px;
}
.text-content{
    display: none;
}
.footer-bg{
    background-color: #f4f5f6;
}
.footer{
    max-width: 1310px;
    margin-inline: auto;
    padding: 48px 18px 36px;
}
.footer-top{
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.02ch;
}
.azure-logo-text{
    padding: 12px;
    display: flex;
    align-items: center;
    background-color: #eaebec;
    width: fit-content;
    text-decoration: none;
    color: #4c4c51;
    font-size: 14px;
    line-height: 1.3;
    font-family: font-roman;
    font-weight: 600;
}
.footer-azure-logo{
    height: 24px;
    width: 24px;
}
.footer-azure-logo svg{
    width: 100%;
    height: 100%;
}
.app-link{
    margin-left: 12px;
}
.social-btns{
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    gap: 23px;
    width: fit-content;
}
.social-btns svg{
    width: 24px;
}
.mobile-footer-mid{
    margin-top: 36px;
    display: block;
}
.mobile-footer-mid ul{
    list-style: none;
}
.mobile-footer-mid ul li{
    padding: 12px 24px;
    background-color: #eaebec;
    border-radius: 4px;
    margin-top: 36px;
    border: 1px solid transparent;
}
.mobile-footer-mid ul li:first-child{
    margin-top: 0;
}
.mobile-footer-mid ul li button{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    font-family: font-roman;
    font-weight: 600;
    color: #1a1a1f;
    letter-spacing: 0.02ch;
}
.mobile-footer-mid ul li button::after{
    content: '\2b';
    font: var(--fa-font-solid);
    color: #4c4c51;
    font-size: 13px;
}
.web-footer-mid{
    display: none;
}
.footer-bottom{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}
.language{
    display: flex;
    flex-direction: column;
    width: 188px;
}
.language label{
    margin-bottom: 8px;
    font-size: 12px;
    color: #1a1a1f;
}
.language select{
    padding: 5px;
    line-height: 1.2;
    height: 36px;
    color: #1a1a1f;
}
.footer-nav-list{
    margin-top: 31px;
    display: flex;
    justify-content: flex-end;
    line-height: 1.4;
}
.footer-nav-list ul{
    list-style: none;
}
.footer-nav-list ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.footer-nav-list ul li{
    margin-left: 16px;
    margin-bottom: 12px;
}
.footer-nav-list ul li a{
    text-decoration: none;
    font-size: 12px;
    padding-block: 2px;
    color: #1a1a1f;
}
.footer-nav-list span{
    font-size: 12px;
    font-weight: 600;
}
.fixed-button{
    position: fixed;
    bottom: 0;
    right: 13px;
    padding: 10px 18px;
    background-color: #0078d4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 20px;
    border-radius: 4px;
    border: 1px solid #0078d4;
}
.fixed-button .chat-text{
    margin-left: 3px;
}

@media (min-width:375px){
    .multicloud-header h2{
        letter-spacing: 0.02ch;
    }
}
@media (min-width:540px){
    .overview{
        margin-top: 11%;
    }
    .overview a{
        width: 30%;
    }
    .azure-products h2{
        margin-bottom: 48px;
    }
}

@media (min-width:768px){
    .menu, .logo, .mobile-nav, .input-search-container{
        display: none !important;
    }
    .header{
        padding: 0;
        max-width: 1310px;
        margin-inline: auto;
    }
    .header-tab-768{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .azure{
        display: flex;
        align-items: center;
        padding-inline: 12px;
        margin-right: 48px;
    }
    .azure-left{
        display: flex;
    }
    .azure-left .azure-logo{
        width: 24px;
        height: 25px;
        transform: translateY(1px);
    }
    .azure-left .azure-text{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-family: font-roman;
        font-weight: 600;
        margin-left: 12px;
    }
    .azure-right ul{
        list-style: none;
        display: flex;
        transform: translate(13px, -1px);
    }
    .azure-right ul li button{
        border: none;
        background-color: transparent;
        padding: 16px 8px;
        font-size: 13px;
        font-family: font-roman;
        display: flex;
        align-items: center;
    }
    .azure-right ul li button::after{
        content: '\f078';
        font: var(--fa-font-solid);
        font-size: 9px;
        padding-left: 3px;
        padding-top: 1px;
    }
    .header-right-search{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 25px;
    }
    .header-right-search img{
        height: 17px;
        width: 17px;
        transform: rotateY(-180deg);
        transform-origin: center;
    }
    .header-left-nav{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 10px;
    }
    .header-right-search .header-left-nav button{
        height: 24px;
        width: 24px;
        border: none;
        background-color: transparent;
        transform: translate(-1px, -1px);
    }
    .header-left-nav a{
        text-decoration: none;
        color: black;
        padding: 20px 5px 20px 0px;
        font-size: 13px;
        font-family: font-roman;
        transform: translateX(7px);
    }
    .innovate p{
        margin-top: 12px;
    }
    .innovate-buttons{
        margin-top: 36px;
    }
    .multicloud-header h2{
        font-size: 20px;
    }
    .multicloud-cards{
        display: none;
    }
    .multicloud-cards-desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 30px;
        row-gap: 24px;
        margin-top: 36px;
    }
    .multicloud-cards-desktop >*{
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
        border-radius: 4px;
    }
    .multicloud-cards-webtop-text{
        grid-row: 1/span 2;
        background-image: url('./Assets/ez-optimize-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 24px;
    }
    .multicloud-cards-webtop-pos{
        position: absolute;
        bottom: 7%;
    }
    .multicloud-cards-webtop-pos h2, p{
        text-align: left;
    }
    .multicloud-cards-webtop-pos h2{
        font-size: 24px;
        color: #0078d4;
        font-family: font-roman;
        line-height: 1.2;
        margin-bottom: 12px;
    }
    .multicloud-cards-webtop-pos p{
        font-size: 16px;
        color: #1a1a1f;
        line-height: 1.5;
    }
    .net-desktop-text h2, .devbox-desktop-text h2{
        text-align: left;
        color: #0078d4;
    }
    .net-desktop-text{
        padding-left: 12px;
    }
    .net-desktop-text p, .devbox-desktop-text p{
        margin: 12px 0;
        line-height: 1.5;
        color: #4c4c51;
    }
    .grid-card{
        position: relative;
        padding: 24px 24px 24px 156px;
    }
    .grid-card-img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 119px;
    }
    .grid-card-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .overview{
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 24px 15px;
        margin-top: 48px;
    }
    .overview .new{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 36px;
        width: 20%;
        max-width: 100%;
        text-align: left;
        margin-bottom: 0;
    }
    .overview a{
        width: 40%;
    }
    .azure-products, .mobile-screenshot{
        display: none;
    }
    .azure-products-tab{
        display: block;
        padding: 60px 15px;
    }
    .azure-products-tab h2{
        text-align: left;
        font-size: 24px;
        font-weight: 600;
        font-family: font-roman;
        color: #1a1a1f;
        line-height: 1.2;
        letter-spacing: 0.04ch;
    }
    .option-left, .tab-cards{
        margin-top: 48px;
    }
    .flex-tab{
        display: flex;
    }
    .flex-tab-left{
        display: flex;
    }
    .option-left{
        margin-right: 12px;
        width: 74%;
    }
    .option-left ul{
        list-style: none;
        width: 100%;
    }
    .option-left ul li{
        margin-bottom: 12px;
        padding: 12px;
        text-align: left;
    }
    .option-left ul li a{
        text-decoration: none;
        color: #4c4c51;
        font-size: 16px;
    }
    .option-left ul li:first-child{
        border-left: 4px solid #0062ad;
    }
    .option-left ul li:first-child a{
        color: #1a1a1f;
        font-weight: 600;
    }
    .tab-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
    }
    .tab-grid-card{
        padding: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
        background-color: white;
        border-radius: 4px;
    }
    .tab-grid-card-top img{
        width: 36px;
        height: 36px;
    }
    .tab-grid-card-top p{
        margin-block: 24px;
        font-size: 16px;
        font-family: font-roman;
        text-align: center;
    }
    .tab-grid-card-bottom a{
        text-decoration: none;
        color: #0062ad;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 600;
    }
    .tab-see-product{
        text-align: left;
        margin-left: 5px;
    }
    .tab-see-product a{
        color: #0062ad;
    }
    .find-logo{
        margin-top: 12px;
    }
    .logo-text p{
        margin-bottom: 24px;
    }
    .nhs-mobile{
        display: none;
    }
    .nhs-desktop{
        display: block;
    }
    .accelerate{
        display: flex;
        align-items: center;
        padding: 36px;
        max-width: 1310px;
        margin-inline: auto;
        padding: 0;
    }
    .accelerate img{
        width: 41.6%;
    }
    .accelerate-text{
        margin-top: 0;
        text-align: left;
        margin-left: 15px;
    }
    .accelerate-btn{
        margin-top: 36px;
    }
    .accelerate-btn a{
        width: auto;
        display: inline-block;
    }
    .happening-grid{
        grid-template-columns: repeat(3, 1fr);
        line-height: 1.5;
        margin-top: 36px;
        overflow: hidden;
    }
    .happening h2{
        font-size: 24px;
        letter-spacing: 0.04ch;
    }
    .extend-grid-one, .extend-grid-two{
        position: relative;
    }
    .extend-grid-one img, .extend-grid-two img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        object-position: 0 0;
        z-index: 0;
    }
    .extend-grid-one .content, .extend-grid-two .content{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        color: white;
        font-size: 18px;
        font-weight: 600;
        padding: 25px;
        margin-bottom: 0;
    }
    .video-img .mobile-video{
        display: none;
    }
    .video-img .desktop-video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        min-height: 600px;
        max-height: 700px;
    }
    .video-text .video-btn{
        margin-top: 36px;
    }
    .building-card{
        padding: 24px;
    }
    .building-card-img{
        position: static;
    }
    .building-card-img img{
        height: 48px;
        width: 48px;
    }
    .building-card-img{
        justify-content: flex-start;
    }
    .building-card-text{
        margin-top: 24px;
    }
    .building-card-text .text-heading{
        margin-bottom: 9px;
    }
    .building-card-text .text-content{
        display: block;
        font-size: 16px;
        margin-top: 12px;
        font-family: font-roman;
        font-weight: 400;
        letter-spacing: 0ch;
        line-height: 1.5;
    }
    .social-btns{
        margin-left: 36px;
    }

}

@media (min-width:769px){
    .innovate{
        text-align: left;
        width: 75%;
    }
    .innovate-buttons{
        flex-direction: row;
    }
    .innovate-buttons button{
        width: auto;
        line-height: 1.5;
    }
    .innovate-buttons .blue{
        margin-top: 12px;
        margin-right: 24px;
    }
}

@media (min-width:960px){
    .innovate-bg{
    background-image: url('/Assets/december-hero-desktop.webp');
    background-position: center;
    background-size: cover;
    }
    .innovate-width{
        max-width: 1310px;
        margin-inline: auto;
    }
    .innovate{
        width: 50%;
    }
    .innovate-buttons .free{
        padding: 10px 16px;
    }
    .azure-products-tab{
        overflow: hidden;
    }
    .flex-tab{
        max-width: 1310px;
        margin-inline: auto;
    }
    .flex-tab-left .option-left ul li{
        white-space: nowrap;
    }
    .tab-cards{
        column-gap: 30px;
        row-gap: 24px;
        margin-right: 50px;
        grid-template-columns: repeat(3, 15vw);
    }
    .flex-card-right{
        display: block;
    }
    .web-screenshot{
        margin-top: 48px;
        border-radius: 12px;
        background-color: black;
        padding: 27px 27px;
        display: flex;
        flex-direction: row;
    }
    .web-screenshot img{
        height: 100%;
    }
    .view-azure{
        max-width: 22%;
        padding: 10px 12px 0 40px;
        position: relative;
    }
    .view-azure::before{
        content: '\f177';
        position: absolute;
        font: var(--fa-font-solid);
        left: 14px;
        bottom: 14px;
        color: #0062ad;
    }
    .view-azure a{
        width: 100%;
        text-align: left;
        font-size: 14px;
        color: #0062ad;
        text-decoration: none;
    }
    .find h2{
        font-size: 24px;
    }
    .find-logo{
        display: none;
    }
    .maxwidth{
        position: absolute;
        bottom: 60px;
        width: 100%;
    }
    .logo-image{
        position: relative;
    }
    .logo-image img{
        min-height: 600px;
        max-height: 700px;
        object-fit: cover;
    }
    .logo-image-text-width{
        display: block;
        max-width: 1310px;
        margin-inline: auto;
    }
    .logo-image-text{
        width: 48%;
        max-width: 655px;
        padding: 24px;
        background-color: rgba(26, 26, 31, 0.94);
        margin-left: 15px;
        color: white;
        border-radius: 4px;
    }
    .logo-image-text p{
        font-size: 20px;
        margin-bottom: 24px;
    }
    .logo-image-text a{
        color: white;
        font-size: 14px;
        font-weight: 600;
        position: relative;
    }
    .logo-image-text a::after{
        content: '\f054';
        font: var(--fa-font-solid);
        position: absolute;
        font-size: 12px;
        top: 5px;
        margin-left: 5px;
    }
    .logo-text, .caroussel{
        display: none;
    }
    .logo-list{
        display: block;
        margin-top: 24px;
        padding-inline: 15px;
        max-width: 1310px;
        margin-inline: auto;
    }
    .logo-list ul{
        display: flex;
        list-style: none;
    }
    .logo-list ul li{
        margin: 12px;
        padding: 12px;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selected{
        position: relative;
    }
    .logo-list ul li img{
        max-height: calc(100% - 1px);
        max-width: calc(100% - 1px);
        filter: grayscale(100%);
    }
    .logo-list ul li:first-child img{
        filter: grayscale(0%);
    }
    .selected::after{
        content: '';
        width: 100%;
        height: 3px;
        background-color: #0078d4;
        position: absolute;
        bottom: 5px;
    }
    .happening-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .extend-grid-one{
        grid-column: 3/span 2;
    }
    .extend-grid-two{
        grid-column: 2/span 2;
    }
    .extend-grid-one .content, .extend-grid-two .content{
        font-size: 24px;
    }
    .video-text, .play-btn, .video-img::after{
        display: none;
    }
    .desktop-video-position{
        position: absolute;
        top: 50px;
        left: 15px;
        width: 100%;
        display: block;
    }
    .desktop-video-width{
        max-width: 1310px;
        margin-inline: auto;
        width: 100%;
    }
    .desktop-content{
        width: 57%;
        color: white;
        padding: 24px;
        background-color: rgba(26, 26, 31, 0.94);
        border-radius: 6px;
    }
    .desktop-content p{
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        font-family: font-roman;
        letter-spacing: 0.04ch;
    }
    .desktop-content-links{
        margin-top: 24px;
        display: flex;
        align-items: center;
    }
    .desktop-content-links button{
        padding: 9px 12px;
        border: none;
        background-color: #0078d4;
        display: inline-block;
        align-items: center;
        border-radius: 4px;
        width: auto;
    }
    .desktop-content-links button .desktop-play-btn{
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background-color: #50e6ff;
        display: inline-block;
        position: relative;
        margin-inline: 5px;
        transform: translateY(1px);
    }
    .desktop-content-links button .desktop-play-btn::after{
        content: '\f04b';
        position: absolute;
        top: 50%;
        left: 50%;
        font: var(--fa-font-solid);
        transform: translate(-50%, -50%);
        font-size: 10px;
        margin-left: 1px;
        color: #0078d4;
    }
    .desktop-content-links button span{
        color: white;
        font-size: 16px;
        font-weight: 600;
        font-family: font-roman;
        letter-spacing: 0.04ch;
        display: inline-block;
        transform: translateY(-5px);
    }
    .developer-story{
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
        margin-left: 26px;
        color: rgb(248, 249, 250);
        letter-spacing: 0.02ch;
        position: relative;
    }
    .developer-story::after{
        content: '\f054';
        font: var(--fa-font-solid);
        position: absolute;
        font-size: 12px;
        top: 5px;
        margin-left: 5px;
    }
    .building{
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1310px;
        margin-inline: auto;
    }
    .mobile-footer-mid{
        display: none;
    }
    .web-footer-mid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 24px;
        margin-top: 36px;
        color: #1a1a1f;
    }
    .web-footer-mid h3{
        font-size: 14px;
        font-family: font-roman;
        font-weight: 600;
        margin-bottom: 9px;
    }
    .web-footer-card ul{
        list-style: none;
    }
    .web-footer-card ul li{
        margin-top: 12px;
    }
    .web-footer-card ul li a{
        text-decoration: none;
        color: #1a1a1f;
        padding-block: 2px;
        font-size: 12px;
        line-height: 1.5;
    }
    .footer-bottom{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-nav-list{
        max-width: 65%;
    }
}

@media (min-width:1075px){
    .overview .new{
        width: 27%;
    }
}

@media (min-width:1080px){
    .search-img, .header-left-nav{
        display: none;
    }
    .header-web{
        display: flex;
    }
    .azure{
        margin: 0;
    }
    .azure-left .azure-text {
        margin-left: 24px;
    }
    .azure-left{
        transform: translateY(2px);
    }
    .azure-right {
        transform: translate(10px, 3px);
    }
    .header-right-search{
        display: none;
    }
    .input-search-container{
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        transform: translate(9px, 2px);
    }
    .input-search{
        display: flex;
        align-items: center;
        width: 121px;
        background-color: #f8f9fa;
        padding: 7px 11px 6px 12px;
        border: 1px solid #747479;
        border-radius: 5px;   
        margin-right: 26px;     
    }
    .input-search input{
        width: 100%;
        border: none;
        background-color: #f8f9fa;
    }
    .input-search img{
        height: 17px;
        width: 17px;
        transform: rotateY(-180deg);
    }
    .nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        margin-right: 9px;
    }
    .nav-menu li{
        margin-inline: 6px;
    }
    .nav-menu li a{
        text-decoration: none;
        color: rgb(26, 26, 31);
        font-size: 13px;
    }
    .nav-menu li:nth-child(4){
        background-color: #89c402;
        border: 1px solid #6f9e02;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 9px 0;
        border-radius: 4px;
    }
    .nav-menu li:nth-child(4) a{
        font-size: 12px;
        line-height: 1;
        font-weight: 600;
        font-family: font-roman;
        text-align: center;
        white-space: wrap;
    }
}
@media (min-width:1092px){
    .nav-menu{
        width: 351px;
    }
    .nav-menu li:nth-child(4){
        width: 26%;
    }
    .overview{
        justify-content: center;
    }
}

@media (min-width:1280px){
    .innovate{
        padding: 72px 15px 280px 15px;
    }
}

@media (min-width:1844px){
    .overview a{
        width: 35%;
    }
}