*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: font-woff;
    src: url('https://azurecomcdn.azureedge.net/cvt-aa06087a39fae1017fc357f80fdb205b83d06b703469a18441ce51fc0265fe37/fonts/bapimdl2/normal/latest.woff2');
}
@font-face {
    font-family: font-roman;
    src: url('https://azurecomcdn.azureedge.net/cvt-63c12051016796d92bcf4bc20b4881057475e6dfa4937c29c9e16054814ab47d/fonts/segoe-ui/variable/SegoeUI-Roman-VF_web.woff2');
}

body{
    font-family: font-woff, font-roman;
    color: #4c4c51;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px 16px ;
}
.header .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu a{
    margin-left: 5px;
}
.header .menu button{
    border: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    transform: translate(-1px, 2px);
}
.header .menu a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(26, 26, 31);
    font-family: font-roman;
    font-weight: 600;
    line-height: 44px;
    padding-left: 10px;
}
.header .logo{
    height: 32px;
    width: 32px;
    transform: translateX(-3px);
}
.mobile-nav button {
    height: 20px;
    width: 20px;
    border: none;
    transform: translate(-27px, 3px);
}
.mobile-nav button img{
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}
.mobile-nav a{
    text-decoration: none;
    font-size: 14px;
    font-family: font-roman;
    color: rgb(26, 26, 31);
    padding-right: 7px;
    display: inline-block;
    transform: translateY(-4px);
}
.header-tab-768{
    display: none;
}
.header-web{
    display: none;
}
.input-search, .nav-menu{
    display: none;
}
.innovate-bg{
    background-image: url('/Assets/december-hero-mobile.png');
    background-position: center;
    background-size: cover;
}
.innovate{
    padding: 60px 15px;
    text-align: center;
}
.innovate h1{
    font-size: 54px;
    color: #1a1a1f;
    line-height: 1.1;
    font-family: font-roman;
    font-weight: 600;
    letter-spacing: 0.04ch;
}
.innovate p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.3;
}
.innovate-buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innovate-buttons button{
    margin-top: 12px;
    width: 85%;
    font-size: 14px;
    font-weight: 600;
    font-family: font-roman;
    letter-spacing: 0.04ch;
    border-radius: 4px;
}
.innovate-buttons .blue{
    background-color: #0078d4;
    border: 1px solid #0078d4;
    color: white;
    padding: 10px 16px;
}
.innovate-buttons .free{
    border: 1px solid black;
    padding: 5px 20px 8px;
}
.multicloud{
    padding: 60px 0;
    max-width: 1310px;
    margin-inline: auto;
}
.multicloud-header{
    color: #1a1a1f;
    font-family: font-roman;
    width: 100%;
    padding-inline: 15px;
}
.multicloud-header h2{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04ch;
    text-align: center;
    width: 100%;
}
.multicloud-cards{
    margin-top: 10%;
    display: grid;
    column-gap: 30px;
    row-gap: 24px;
}
.multicloud-cards .flex-card{
    display: flex;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
    position: relative;
    border-radius: 6px;
}
.flex-card-img{
    width: 68px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.flex-card-img img{
    height: auto;
    width: 100%;
    object-fit: contain;
}
.upgrade-img img, .devbox-img img{
    height: 100%;
}
.flex-card p{
    padding: 24px 24px 24px 80px;
    line-height: 1.3;
}
.flex-card p a{
    text-decoration: none;
    font-size: 20px;
    font-family: font-roman;
    font-weight: 600;
    color: #0062ad;
    line-height: 1.3;
    letter-spacing: 0.04ch;
}
.multicloud-cards-top p a{
    line-height: 1.2;
}
.multicloud-cards-desktop{
    display: none;
}
.overview{
    text-align: center;
    margin-top: 12%;
    padding: 24px 39px;
    font-family: font-roman;
    margin-inline: auto;
}
.overview .new{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: #1a1a1f;
    margin-bottom: 25px;
    letter-spacing: 0.04ch;
}
.overview a{
    text-decoration: none;
    padding: 11px 16px;
    border: 1px solid #0078d4;
    color: #0062ad;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.04ch;
}
.azure-products-bg{
    background-color: #f8f9fa;
}
.azure-products{
    padding-top: 60px;
    max-width: 1310px;
    margin-inline: auto;
    padding-inline: 15px;
}
.azure-products h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    font-family: font-roman;
    text-align: center;
    color: #1a1a1f;
    letter-spacing: 0.04ch;
    margin-bottom: 10%;
    width: 100%;
}
.product-cards-button{
    margin-bottom: 12px;
    padding: 12px 24px 12px 12px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
    background-color: white;
    border-radius: 4px;
    min-height: 60px;
    display: flex;
    align-items: center;
}
.product-cards-button:first-child{
    margin-top: 10%;
}
.product-cards-button button{
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: font-roman;
    font-weight: 600;
    color: #1a1a1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-cards-button button::after{
    content: '\f078';
    font: var(--fa-font-solid);
}
.up-button button::after{
    transform: rotate(-180deg);
}
.product-grid-cards{
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr 1fr;
    padding: 12px 0;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
    background-color: white;
    border-radius: 4px;
}
.product-card img{
    width: 36px;
    height: 36px;align-self: center;
}
.product-card-top p{
    font-size: 14px;
    color: #4c4c51;
    margin: 12px 0;
    line-height: 1.5;
}
.product-card-bottom a{
    text-decoration: none;
    color: #0062ad;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
}
.see-products{
    margin-top: 10%;
    text-align: center;
    width: 100%;
}
.see-products a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}
.see-products a::after{
    content: url('./Assets/right-arrow.svg');
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: 1px;
    margin-left: 5px;
}
.mobile-screenshot{
    margin-top: 10%;
    margin-inline: 24px;
    padding-bottom: 60px;
}
.mobile-screenshot img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: black;
    padding: 3%;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.14);
}

@media (min-width:375px){
    .multicloud-header h2{
        letter-spacing: 0.02ch;
    }
}
@media (min-width:540px){
    .overview{
        margin-top: 11%;
    }
    .overview a{
        width: 30%;
    }
    .azure-products h2{
        margin-bottom: 48px;
    }
}

@media (min-width:768px){
    .menu, .logo, .mobile-nav, .input-search-container{
        display: none !important;
    }
    .header{
        padding: 0;
        max-width: 1310px;
        margin-inline: auto;
    }
    .header-tab-768{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .azure{
        display: flex;
        align-items: center;
        padding-inline: 12px;
        margin-right: 48px;
    }
    .azure-left{
        display: flex;
    }
    .azure-left .azure-logo{
        width: 24px;
        height: 25px;
        transform: translateY(1px);
    }
    .azure-left .azure-text{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-family: font-roman;
        font-weight: 600;
        margin-left: 12px;
    }
    .azure-right ul{
        list-style: none;
        display: flex;
        transform: translate(13px, -1px);
    }
    .azure-right ul li button{
        border: none;
        background-color: transparent;
        padding: 20px 8px;
        font-size: 13px;
        font-family: font-roman;
        display: flex;
        align-items: center;
    }
    .azure-right ul li button::after{
        content: '\f078';
        font: var(--fa-font-solid);
        font-size: 9px;
        padding-left: 3px;
        padding-top: 1px;
    }
    .header-right-search{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 40px;
    }
    .header-right-search img{
        height: 17px;
        width: 17px;
        transform: rotateY(-180deg);
        transform-origin: center;
    }
    .header-left-nav{
        display: flex;
        align-items: center;
        gap: 10px;
        transform: translate(-16px, -1px);
    }
    .header-right-search .header-left-nav button{
        height: 24px;
        width: 24px;
        border: none;
        background-color: transparent;
        transform: translate(-1px, -1px);
    }
    .header-left-nav a{
        text-decoration: none;
        color: black;
        padding: 20px 0px;
        font-size: 13px;
        font-family: font-roman;
        transform: translateX(7px);
    }
    .innovate p{
        margin-top: 12px;
    }
    .innovate-buttons{
        margin-top: 36px;
    }
    .multicloud-cards{
        display: none;
    }
    .multicloud-cards-desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 30px;
        row-gap: 24px;
        margin-top: 36px;
    }
    .multicloud-cards-desktop >*{
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0.14);
        border-radius: 4px;
    }
    .multicloud-cards-webtop-text{
        grid-row: 1/span 2;
        background-image: url('./Assets/ez-optimize-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 24px;
    }
    .multicloud-cards-webtop-pos{
        position: absolute;
        bottom: 7%;
    }
    .multicloud-cards-webtop-pos h2, p{
        text-align: left;
    }
    .multicloud-cards-webtop-pos h2{
        font-size: 20px;
        color: #0078d4;
        font-family: font-roman;
        line-height: 1.2;
        margin-bottom: 12px;
    }
    .multicloud-cards-webtop-pos p{
        font-size: 16px;
        color: #1a1a1f;
        line-height: 1.5;
    }
    .net-desktop-text h2, .devbox-desktop-text h2{
        text-align: left;
        color: #0078d4;
    }
    .net-desktop-text{
        padding-left: 12px;
    }
    .net-desktop-text p, .devbox-desktop-text p{
        margin: 12px 0;
        line-height: 1.5;
        color: #4c4c51;
    }
    .grid-card{
        position: relative;
        padding: 24px 24px 24px 156px;
    }
    .grid-card-img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 119px;
    }
    .grid-card-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .overview{
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 24px 15px;
        margin-top: 48px;
    }
    .overview .new{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 36px;
        width: 20%;
        max-width: 100%;
        text-align: left;
        margin-bottom: 0;
    }
    .overview a{
        width: 40%;
    }
}

@media (min-width:769px){
    .innovate{
        text-align: left;
        width: 75%;
    }
    .innovate-buttons{
        flex-direction: row;
    }
    .innovate-buttons button{
        width: auto;
        line-height: 1.5;
    }
    .innovate-buttons .blue{
        margin-top: 12px;
        margin-right: 24px;
    }
}

@media (min-width:960px){
    .innovate-bg{
    background-image: url('/Assets/december-hero-desktop.webp');
    background-position: center;
    background-size: cover;
    }
    .innovate-width{
        max-width: 1310px;
        margin-inline: auto;
    }
    .innovate{
        width: 50%;
    }
}

@media (min-width:1075px){
    .overview .new{
        width: 27%;
    }
}

@media (min-width:1080px){
    .search-img, .header-left-nav{
        display: none;
    }
    .header-web{
        display: flex;
    }
    .azure{
        margin: 0;
    }
    .azure-left .azure-text {
        margin-left: 24px;
    }
    .azure-left{
        transform: translateY(2px);
    }
    .azure-right {
        transform: translate(10px, 3px);
    }
    .header-right-search{
        display: none;
    }
    .input-search-container{
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1;
    }
    .input-search{
        display: flex;
        align-items: center;
        width: 121px;
        background-color: #f8f9fa;
        padding: 7px 11px 6px 12px;
        border: 1px solid #747479;
        border-radius: 5px;   
        margin-right: 26px;     
    }
    .input-search input{
        width: 100%;
        border: none;
        background-color: #f8f9fa;
    }
    .input-search img{
        height: 17px;
        width: 17px;
        transform: rotateY(-180deg);
    }
    .nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        margin-right: 9px;
    }
    .nav-menu li{
        margin-inline: 6px;
    }
    .nav-menu li a{
        text-decoration: none;
        color: rgb(26, 26, 31);
        font-size: 13px;
    }
    .nav-menu li:nth-child(4){
        background-color: #89c402;
        border: 1px solid #6f9e02;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 9px 0;
        border-radius: 4px;
    }
    .nav-menu li:nth-child(4) a{
        font-size: 12px;
        line-height: 1;
        font-weight: 600;
        font-family: font-roman;
        text-align: center;
        white-space: wrap;
    }
}
@media (min-width:1092px){
    .nav-menu{
        width: 351px;
    }
    .nav-menu li:nth-child(4){
        width: 26%;
    }
    .overview{
        justify-content: center;
    }
}

@media (min-width:1280px){
    .innovate{
        padding: 72px 15px 280px 15px;
    }
}

@media (min-width:1844px){
    .overview a{
        width: 35%;
    }
}
